---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/base.astro"

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog")
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}

interface Props {
    entry: CollectionEntry<"blog">
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BaseLayout>
    <h1>{entry.data.title}</h1>
    <Content />
</BaseLayout>
