---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/base.astro"
import PostItems from "../../components/post-items.astro"

export async function getStaticPaths() {
    const allPosts = await getCollection("post")
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ]

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((b) => b.data.tags.includes(tag))
        return {
            params: { tag },
            props: { posts: filteredPosts },
        }
    })
}

interface Props {
    posts: CollectionEntry<"post">[]
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout title={tag}>
    <div class="tag-heading">
        <h2>Posts about {tag}</h2>
        <p>View all <a href="/tags">tags</a></p>
    </div>
    <PostItems posts={posts} />
</BaseLayout>

<style>
    .tag-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }
</style>
