---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/base.astro"

const allPosts = await getCollection("post")
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
---

<BaseLayout title="Tags">
    <div class="tags-container"></div>
    {
        uniqueTags.map((tag, idx) => {
            return (
                <span>
                    <a class="tag" href={`/tags/${tag}`}>
                        {tag}
                    </a>

                    {idx !== uniqueTags.length - 1 ? (
                        <span class="dot">·</span>
                    ) : null}
                </span>
            )
        })
    }
</BaseLayout>

<style>
    .tags-container {
        display: flex;
    }

    .dot {
        margin: 0 4px;
    }
</style>
