---
import { ViewTransitions } from "astro:transitions"

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)

const { title } = Astro.props
---

<html lang="en" transition:animate="fade">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <header>
            <div class="header-container">
                <a class="logo" href="/" rel="home">
                    <span role="img" aria-label="logo">[tmg]</span>
                </a>

                <nav>
                    <a
                        class:list={[
                            "nav-item",
                            { active: currentPath === "" },
                        ]}
                        href="/">Home</a
                    >
                    <a
                        class:list={[
                            "nav-item",
                            { active: currentPath === "posts" },
                        ]}
                        href="/posts">Posts</a
                    >
                    <!-- <a -->
                    <!--     class:list={[ -->
                    <!--         "nav-item", -->
                    <!--         { active: currentPath === "projects" }, -->
                    <!--     ]} -->
                    <!--     href="/projects">Projects</a -->
                    <!-- > -->
                </nav>
            </div>
        </header>

        <main>
            <slot />
        </main>

        <footer></footer>
        <style>
            main {
                max-width: 768px;
                margin: auto;
            }

            header {
                margin-bottom: 3em;
            }

            .header-container {
                max-width: 768px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                padding: 0.4em 1em;
            }

            nav {
                align-self: flex-end;
                display: flex;
                gap: 1em;
                padding: 0 1rem;
            }

            .logo > span {
                text-decoration: underline;
                text-decoration-style: double;
            }

            .nav-item,
            .logo {
                color: var(--white);
                text-decoration: none;
            }

            .nav-item {
                padding: 0 0.4rem;
            }

            .nav-item.active {
                border-radius: 2px;
                background-color: #7daea3;
            }

            .nav-item:hover {
                text-decoration: underline;
            }
        </style>

        <style is:global>
            :root {
                --bg: #fff;
                --white: #0a0a0a;
                --cyan: #7daea3;
                --orange-dim: #cb775d;
                --white-dim: #bbc3d4;
                --black: #191d24;
            }

            @font-face {
                font-family: "Atkinson";
                font-style: normal;
                font-weight: 400;
                src: url("/fonts/Atkinson-Hyperlegible-Regular-102a.woff2")
                    format("woff2");
            }

            @font-face {
                font-family: "Atkinson";
                font-style: italic;
                font-weight: 400;
                src: url("/fonts/Atkinson-Hyperlegible-Italic-102a.woff2")
                    format("woff2");
            }

            @font-face {
                font-family: "Atkinson";
                font-style: normal;
                font-weight: 700;
                src: url("/fonts/Atkinson-Hyperlegible-Bold-102a.woff2")
                    format("woff2");
            }

            @font-face {
                font-family: "Atkinson";
                font-style: italic;
                font-weight: 700;
                src: url("/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
                    format("woff2");
            }

            /* Box sizing rules */
            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            /* Remove default margin */
            body,
            h1,
            h2,
            h3,
            h4,
            p,
            figure,
            blockquote,
            dl,
            dd {
                margin: 0;
            }

            /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
            ul[role="list"],
            ol[role="list"] {
                list-style: none;
            }

            /* Set core root defaults */
            html:focus-within {
                scroll-behavior: smooth;
            }

            /* Set core body defaults */
            body {
                min-height: 100vh;
                text-rendering: optimizeSpeed;
                line-height: 1.5;
                font-family:
                    "Atkinson",
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Helvetica,
                    Arial,
                    sans-serif,
                    "Apple Color Emoji",
                    "Segoe UI Emoji",
                    "Segoe UI Symbol";
                font-size: 20px;
            }

            /* A elements that don't have a class get default styles */
            a:not([class]) {
                text-decoration-skip-ink: auto;
            }

            /* Make images easier to work with */
            img,
            picture {
                max-width: 100%;
                display: block;
            }

            /* Inherit fonts for inputs and buttons */
            input,
            button,
            textarea,
            select {
                font: inherit;
            }

            /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
            @media (prefers-reduced-motion: reduce) {
                html:focus-within {
                    scroll-behavior: auto;
                }

                *,
                *::before,
                *::after {
                    animation-duration: 0.01ms !important;
                    animation-iteration-count: 1 !important;
                    transition-duration: 0.01ms !important;
                    scroll-behavior: auto !important;
                }
            }

            :is(h1, h2, h3, h4, h5, h6) {
            }

            footer {
                margin-top: 1em;
            }

            main {
                background-color: var(--bg);
                color: var(--white);
                padding: 0 1em;
            }

            a {
                color: var(--cyan);
            }

            a:hover {
            }

            pre {
                font-size: 0.8em;
                padding: 1em;
                /* background-color: black !important; */
            }

            @media screen and (max-width: 768px) {
                body {
                    font-size: 18px;
                }
            }

            @media screen and (max-width: 568px) {
                body {
                    font-size: 16px;
                }
            }
        </style>
    </body>
</html>
